<table class="comment-s-table-form">
  <% @comments.each do |comment| %>
    <tr>
      <td>
        <%= attachment_image_tag comment.member, :image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg", class: "comment-s-image" %>
      </td>
      <td>
        <span class="comment-s-nickname-word_of_mouth">
          <%= comment.member.nickname %><span class="comment-s-word_of_mouth">さんの口コミ</span>
        </span>
      </td>
      <td>
      <%# /////////////////////////////////////////////////////////////////? %>
          <div class="caverage-score">
          <div class="cstar-rating">
            <div class="cstar-rating-front" style="width: <%= comment.score %>%">★★★★★</div>
            <div class="cstar-rating-back">★★★★★</div>
          </div>
          <div class="cscore-display">
            <%= comment.score %>点
          </div>
        </div>
        </div>
      <%# /////////////////////////////////////////////////////////////////? %>
      </td>
      <td>
        <span class="comment_created_at_strftime">
          <%= comment.created_at.strftime("%Y年%m月投稿") %>
        </span>
      </td>
      <%# いいね機能 非同期 %>
      <td class=<%= "like-" + comment.id.to_s %>>
        <%= render partial: "favorite", locals: { comment: comment } %>
      </td>
    </tr>

    <tr>
      <td></td>
      <td colspan="3"><%= comment.content %></td>
    </tr>
  <% end %>
</table>