<h2>口コミ | <%= @hospital.name %></h2>
<i class="far fa-comment-dots"></i>口コミ<%= @comments.count %>件

<table>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.created_at.strftime("%Y年%m月投稿") %></td>
      <td><%= attachment_image_tag comment.member, :image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %></td>
      <td><%= comment.member.nickname %>さんの口コミ</td>
      <td><%= comment.content %></td>
      <%# いいね機能 非同期 %>
      <td class=<%= "like-" + comment.id.to_s %>>
        <%= render partial: "favorite", locals: { comment: comment } %>
      </td>
    </tr>
  <% end %>
</table>

<%= form_with(model: [@hospital, @comment], local: true) do |f| %>
  <%= f.text_area :content, placeholder: "口コミをここに" %>
  <%= f.submit "投稿" %>
<% end %>