<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>口コミ | <%= @hospital.name %></p>
      <div>
        <i class="far fa-comment-dots"></i>口コミ<%= @comments.count %>件
      </div>

      <%= flash[:danger] %>
      <% if member_signed_in? %>
        <%# コメント投稿機能 非同期 %>
        <div class="commentform" >
          <%= render partial: "commentform", locals: {hospital: @hospital, comment: @comment} %>
        </div>
      <% else %>
        口コミを投稿する場合ログインしてください
      <% end %>
    </div>

    <div class="col-md-9">
      <%# コメント表示機能 非同期 %>
      <div class="comments" >
        <%= render partial: "comments", locals: {comments: @comments} %>
      </div>
    </div>
  </div>
</div>