<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>口コミ | <%= @hospital.name %></p>
      <div>
        <i class="far fa-comment-dots"></i>口コミ<%= @comments.count %>件
      </div>

      <%= flash[:danger] %>
<% if member_signed_in? %>
  <%= form_with(model: [@hospital, @comment], local: true) do |f| %>
    <%= f.text_area :content, placeholder: "口コミをここに" %>
    <%= f.submit "投稿" %>
  <% end %>
<% end %>
<% if member_signed_in? %>
<% else %>
  口コミを投稿する場合ログインしてください
<% end %>
    </div>

   <div class="col-md-9">

<table class="comment-s-table-form">
  <% @comments.each do |comment| %>
    <tr>
      <td>
        <%= attachment_image_tag comment.member, :image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg", class: "comment-s-image" %>
      </td>
      <td>
        <span class="comment-s-nickname-word_of_mouth">
          <%= comment.member.nickname %><span class="comment-s-word_of_mouth">さんの口コミ</span>
        </span>
      </td>
      <td>
        <span class="comment_created_at_strftime">
          <%= comment.created_at.strftime("%Y年%m月投稿") %>
        </span>
      </td>
      <%# いいね機能 非同期 %>
      <td class=<%= "like-" + comment.id.to_s %>>
        <%= render partial: "favorite", locals: { comment: comment } %>
      </td>
    </tr>

    <tr>
    <td></td>
      <td colspan="3"><%= comment.content %></td>
    </tr>
  <% end %>
</table>
</div>

</div></div>