<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>予定一覧</h1>

        <% @events.each do |event| %>
      <table class="event-i-table">
          <tr>
            <th>タイトル</th>
            <td><%= event.title %></td>
          </tr>
          <tr>
            <th>メモ</th>
            <td><%= event.content %></td>
          </tr>

          <tr>
            <th class="event_start_time"><%= event.start_time %></th>
            <td>
            <span class="span-fa-pencil-alt">
              <%= link_to edit_member_event_path(event.member_id, event), class: "link_to_color_black" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
              </span>
              <%= link_to member_event_path(event.member_id, event), method: :delete, class: "link_to_color_black" do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
      </table>
        <% end %>

    </div>

    <div class="col-md-6">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
          <div>
            <%= link_to event.title.truncate(4), edit_member_event_path(event.member_id, event), class: "link_to_color_black" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

