<table>
  <%= form_with model: @hospital, url: admin_hospital_path, local: true do |f| %>
    <tr>
      <th><%= f.label :名前 %></th>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <th><%= f.label :郵便番号 %></th>
      <td><%= f.text_field :postcode %></td>
    </tr>

    <tr>
      <th><%= f.label :住所 %></th>
      <td><%= f.text_field :address %></td>
    </tr>

    <tr>
      <th><%= f.label :電話番号 %></th>
      <td><%= f.text_field :phone_number %></td>
    </tr>

    <tr>
      <th><%= f.label :特徴 %></th>
      <td><%= f.text_field :feature %></td>
    </tr>

    <tr>
      <th><%= f.label :一言メッセージ %></th>
      <td><%= f.text_field :short_message %></td>
    </tr>

    <tr>
      <th><%= f.label :特記事項 %></th>
      <td><%= f.text_field :notices %></td>
    </tr>

    <tr>
      <th><%= f.label :イメージ画像 %></th>
      <td><%= f.attachment_field :image, placeholder: "画像" %></td>
    </tr>

    <tr>
      <td><%= f.submit %></td>
    </tr>
  <% end %>
</table>