<div class="container">
  <div class="row">
    <table>
      <% @hospitals.each do |hospital| %>
        <tr>
          <td class="admin_hospital_image"><%= attachment_image_tag hospital, :image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %></td>
          <td class="admin_hospital_name"><%= link_to hospital.name, admin_hospital_path(hospital) %></td>
          <td class="admin_hospital_postcode"><%= hospital.postcode %></td>
          <td class="admin_hospital_address"><%= hospital.address %></td>
          <td class="admin_hospital_phone_number"><%= hospital.phone_number %></td>
          <td><%= link_to "編集する", edit_admin_hospital_path(hospital) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>