<div class="container">
  <div class="row">
    <%= form_with(url: search_path, method: :get, local: true) do |f| %>
      <% ['内科', '消化器科', '循環器科', '呼吸器科','外科' ,'整形外科', '形成外科', '脳神経外科','小児科', '産婦人科',
          '皮膚科', '泌尿器科', '眼科', '耳鼻咽喉科','リハビリテーション科', '放射線科', '精神科', '麻酔科'
        ].each do |medical_department| %>
        <%= f.label :"#{medical_department}" %>
        <%= f.check_box :search_medical_department, {multiple: true, include_hidden: false}, "#{medical_department}",nil %>
      <% end %>
      <%= f.hidden_field :search_address,:value=> params[:search_address] %>
      <%= f.submit 'Search' %>
    <% end %>
  </div>

  <div class="row">
    <div class="hospital-i-index">

<% @hospitals.each do |hospital| %>
  <div class="col-md-6 hospital-i-index-img">
    <%= attachment_image_tag hospital, :image, format: 'jpeg', size: "550x400", fallback: "no_image.jpg" %>
  </div>
  <div class="col-md-6 hospital-i-index-font">
    <%= link_to hospital.name, hospital_path(hospital), {class: "hospital-i-index-hospital_name"} %>

    <p class ="hospital-i-index-address">
      <i class="fas fa-map-marked-alt"></i>
      <%= hospital.postcode %>
      <%= hospital.address %><br>
    </p>

    <p class ="hospital-i-index-phone_number">
      <i class="fas fa-phone"></i>
      <%= hospital.phone_number %><br>
    </p>

    <p class ="hospital-i-index-medical_department-name">
    <i class="fas fa-file-medical"></i>
    <% hospital.medical_departments.each do |medical_department| %>
      <%= medical_department.name %><span>/</span>
    <% end %><br>
    </p>

    <p class ="hospital-i-index-short_message">
      <%= hospital.short_message %>
    </p>

  <div class="hospital-i-index-comment-favorite">
    <span class ="hospital-i-index-comment">
      <%= link_to hospital_comment_path(hospital, hospital.comments) do %>
      <i class="fas fa-comment"></i> 口コミ
      <%= hospital.comments.count %>件
      <% end %>
    </span>

    <span class ="hospital-i-index-favorite">
    <% if member_signed_in? %>
      <% if current_member.already_hospital_favorited?(hospital) %>
        <%= link_to hospital_hospital_favorites_path(hospital), method: :delete do %>
          <i class="fas fa-heart fas-fa-heart"></i> いいね
        <% end %>
      <% else %>
        <%= link_to hospital_hospital_favorites_path(hospital), method: :post do %>
          <i class="far fa-heart"></i> いいね
        <% end %>
      <% end %>
    <% else %>
      いいね
    <% end %>
    <%= hospital.hospital_favorites.count %>件
    </span>
  </div>

    <table class="table table-bordered hospital-i-index-consultation">
      <tr>
        <th class="hospital-i-th-consultation_time">診療時間</th>
        <th class="hospital-i-th-consultation_day">月</th>
        <th class="hospital-i-th-consultation_day">火</th>
        <th class="hospital-i-th-consultation_day">水</th>
        <th class="hospital-i-th-consultation_day">木</th>
        <th class="hospital-i-th-consultation_day">金</th>
        <th class="hospital-i-th-consultation_saturday">土</th>
        <th class="hospital-i-th-consultation_sunday">日</th>
      </tr>

      <tr>
        <td>
          <% hospital.consultation_times.each do |consultation_time| %>
            <%= consultation_time.start_hour %> :
            <% if consultation_time.start_minute.to_s.length == 1 %>
              <%= consultation_time.start_minute %>0 〜
            <% else %>
              <%= consultation_time.start_minute %> 〜
            <% end %>

            <%= consultation_time.finish_hour %> :
            <% if consultation_time.finish_minute.to_s.length == 1 %>
              <%= consultation_time.finish_minute %>0
            <% else %>
              <%= consultation_time.finish_minute %>
            <% end %>
          <% end %>
        </td>

          <% ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"].each do |weekday| %>
            <% hospital.consultation_days.each do |consultation_day| %>
              <td><%= human_active_weekday(consultation_day.send("is_#{weekday}")) %></td>
            <% end %>
          <% end %>
      </tr>
    </table>
  </div>
<% end %>
</div>
</div>
</div>

<%= paginate @hospitals %>