<div class="container">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-md-4">
      </div>

      <div class="col-md-4">
        <div class="login">
          <h2>ログイン</h2>
        </div>
        <div class="form-group">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class: "login-submit btn btn-primary" %>
        </div>

        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider) do %>
              <div class="g_icon_login">
                <span class="g_icon"></span>Google アカウントでログインする
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-4">
      </div>
    <% end %>
  </div>
</div>