<div class="container">
  <div class="row">
    <% @medical_departments.each do |md| %>
      <div class="col-md-3 admin_md_name">
        <%= link_to md.name, edit_admin_medical_department_path(md), {class: "link_to_admin_md_name"} %>
        <%= link_to admin_medical_department_path(md), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>

    <%= form_with model: @medical_department, url: admin_medical_departments_path, class: "form_with_admin_md_name", local: true do |f| %>
      <%= f.text_field :name, placeholder: "診療科目名" %>
      <%= f.submit "投稿" %>
    <% end %>
  </div>
</div>