<!DOCTYPE html>
<html>
  <head>
    <title>Hosnavi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/8f8aa2dd98.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
      <nav class="gnav" class="fixed">
        <ul class="gnav-list">
          <% if member_signed_in? %>
            <li class="gnav-item"><%= link_to "LOGO", root_path, {class: "gnav-link"} %></li>
            <li class="gnav-item">
              <%= form_with(url: search_path, method: :get, local: true, class: "gnav-link") do |f| %>
                <%= f.text_field :search, {placeholder: "エリア・病院名"} %>
                <%= f.submit '検索' %>
              <% end %>
            </li>
            <li class="gnav-item"><%= link_to "マイページ", member_path(current_member), {class: "gnav-link"} %></li>
            <li class="gnav-item"><%= link_to "病院一覧", hospitals_path, {class: "gnav-link"} %></li>
            <li class="gnav-item"><%= link_to "ログアウト", destroy_member_session_path,  {method: :delete, class: "gnav-link"} %></li>
          <% else %>
            <li class="gnav-item"><%= link_to "LOGO", root_path, {class: "gnav-link"} %></li>
            <li class="gnav-item">
              <%= form_with(url: search_path, method: :get, local: true, class: "gnav-link") do |f| %>
                <%= f.text_field :search, {placeholder: "エリア・病院名"} %>
                <%= f.submit '検索' %>
              <% end %>
            </li>
            <li class="gnav-item"><%= link_to "病院一覧", hospitals_path, {class: "gnav-link"} %></li>
            <li class="gnav-item"><%= link_to "新規登録", new_member_registration_path, {class: "gnav-link"} %></li>
            <li class="gnav-item"><%= link_to "ログイン", new_member_session_path, {class: "gnav-link"} %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <%= yield %>

    <footer>
    <p>ふったー</p>
    </footer>
  </body>
</html>
