<!DOCTYPE html>
<html>
  <head>
    <title>Hosnavi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8f8aa2dd98.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <% if member_signed_in? %>
        <%= link_to "LOGO", root_path %>
        <%= form_with(url: search_path, method: :get, local: true) do |f| %>
          <%= f.text_field :search %>
          <%= f.submit 'Search' %>
        <% end %>
        <%= link_to "マイページ", member_path(current_member) %>
        <%= link_to "病院一覧", hospitals_path %>
        <%= link_to "ログアウト", destroy_member_session_path,  method: :delete %>
      <% else %>
        <%= link_to "LOGO", root_path %>
        <%= link_to "病院一覧", hospitals_path %>
        <%= link_to "新規登録", new_member_registration_path %>
        <%= link_to "ログイン", new_member_session_path %>
      <% end %>
    </header>

    <%= yield %>

    <footer>
    <p>ふったー</p>
    </footer>
  </body>
</html>
