<div class="container">
  <div class="row">
    <div class="col-md-6 member-e-form">
      <%= form_with model: @member, local: true do |f| %>
        <%= attachment_image_tag @member, :image, fallback: "no_image.jpg", size:"200x160", class: 'member-s-image' %>

        <div class="row">
          <div class="col-md-6 member-e-form">
            <div class="form-group">
              ユーザー名<%= f.text_field :nickname ,class: "form-control" %>
            </div>
          </div>
        </div>
        <%= f.attachment_field :image, placeholder: "画像", class: "member-e-form-attachment-f" %>

        <script>
          $(function(){
            $("#member_image").on("change", function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
                $(".image").attr("src", e.target.result);
              }
              reader.readAsDataURL(e.target.files[0]);
            });
          });
        </script>
        <%= f.submit "登録情報変更"%>
      <% end %>
    </div>

    <div class="col-md-6 member-e-img">
    </div>
  </div>
</div>






