<div class="container">
  <div class="row">
    <div class="col-md-6 member-e-form">
      <h1>編集画面</h1>
      <%= form_with model: @member, local: true do |f| %>
        <%= attachment_image_tag @member, :image, fallback: "no_image.jpg", size:"200x160" %>
        <table>
        <tr><th>ユーザー名</th><td><%= f.text_field :nickname %></td></tr>
        <tr><td colspan="2"><%= f.attachment_field :image, placeholder: "画像", class: "member-e-form-attachment-f" %></td></tr>
        </table>
        <script>
          $(function(){
            $("#member_image").on("change", function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
                $(".image").attr("src", e.target.result);
              }
              reader.readAsDataURL(e.target.files[0]);
            });
          });
        </script>
        <%= f.submit "変更"%>
      <% end %>
    </div>

    <div class="col-md-6 member-e-img">
    </div>
  </div>
</div>






